* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main{
  display: flex;
  
}


.listLinks {
  display: flex;
  flex-direction: column;
  width: 240px;
  gap: 20px;
  background-color: #16191f;
  border: 1px solid rgb(41, 127, 240);
  left: 0;
  top: 50px;
  
  }

.btnLoggin {
  display: flex;
  padding: 10px;
  width: 240px;
  gap: 15px;
  background-color: #9da3ae;
  border: 1px solid rgb(41, 127, 240);
  left: 0;
  top: 50px;
  justify-content: center;
}
.prTxt {
  font-size: 18px;
  width: 140px;
  padding-left: 5px;
  border: #b1b1b1 1px solid;
  border-radius: 5px;
}
.seTxt {
  font-size: 10px;
  padding-top: 10px;
  padding-left: 25px;
  opacity: 85%;
}
.listTimes {
  display: flex;
  padding: 10px 20px ;
  align-items: center;
  gap: 15px;
  }
.escudoTimes {
  width: 40px;
}
.listTimes:hover{
  background-color: rgb(41, 127, 240);
}
.timePalmeiras{
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;  
  width: 140px;
  background-color: #16191f;
  top: 90px;
}
.timePalmeiras img{
  
  width: 50px;  
}
.jgPal {
  list-style: none;
  
}