* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
 margin-left: 10px;
 margin-top: 10px;
}


.listLinks {
  display: flex;
  flex-direction: column;
  border: 1px solid #1C1C1C;
  padding: 25px 50px;
  width: 280px;
  gap: 20px;
  background-color: #9da3ae;
  left: 0;
  top: 50px;
  cursor: pointer;
  }

.btnLoggin {
  display: flex;
  padding: 10px;
  width: 280px;
  gap: 15px;
  background-color: #9da3ae;
  border: 1px solid #1C1C1C;
  left: 0;
  top: 50px;
  justify-content: center;
}
.prTxt {
  font-size: 18px;
  width: 140px;
  padding-left: 5px;
  border: #b1b1b1 1px solid;
  border-radius: 5px;
}
.seTxt {
  font-size: 10px;
  padding-top: 10px;
  padding-left: 25px;
  opacity: 85%;
}
.txtLoggin {

}

.imgBR {
  margin-left: -15px;
  
  

}

.imgsTimes {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: -20px;
}

.escudoTimes {
  width: 40px;
}